:host {
  display: block;
  min-height: 100vh;
}

.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  min-width: 0;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 30px;
  background: #f5f7fa;
}
